* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header {
    width: 100%;
    box-shadow: 0px 0px 1px 0px #091E424F;
    background-color: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0px 3px 5px 0px #091E4233;
    padding: 16px 130px 16px 130px;
    position: fixed;
    z-index: 10;
}
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    align-items: center;
}
.nav-list {
    display: flex;
    align-items: center;
    margin-left: 307.7px;
}
.nav-list ul {
    display: flex;
    list-style: none;
    gap: 24px;
    align-items: center;
}
.nav-list ul li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: all 1s;
}
.nav-list ul li:hover {
    transform: scale(1.1);
}
.nav-list ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #494961;
    gap: 8px;
}
.nav-list ul li a span {
    display: flex;
    align-items: center;
}
.nav-list ul li:nth-child(1) a{
    color: #405741;
}
.links {
    display: flex;
    align-items: center;
    margin-left: 48px;
    gap: 24px;
}
.links a {
    display: flex;
    align-items: center;
}
section {
    padding-top: 100px;
}
section .tooth-section {
    background-image: url('tooth.png');
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 540px;
    position: relative;
}
.title {
    width: 689px;
    position: absolute;
    top: 135px;
    left: 135px;
}
.title h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 78px;
    color: #121216;
}
.title p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #494961;
    margin-top: 8px;
}
.shop-now {
    margin-top: 56px;
}
.shop-now button {
    border: none;
    border-radius: 8px;
    padding: 12px 49.5px 12px 49.5px;
    background-color: #405741;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 1s;
}
.shop-now button:hover {
    background-color: #a9a5a5;
    transform: rotate(360deg);
}
.shop-now button span {
   font-size: 16px;
   font-weight: 600;
   line-height: 24px;
   color: #FFFFFF;
   display: flex;
   align-items: center;
   transition: all 0.5s;
}
.shop-now button span:hover {
    color: #405741;
}
.shop-now button a {
    display: flex;
    align-items: center;
}
.ads__container {
    max-width: 1184px;
    margin-top: 80px;
    display: flex;
    gap: 24px;
}
.ad1 {
    background-color: #FFEEF4;
    border-radius: 8px;
    padding: 13px 90px;
}
.ad1 span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    padding-top: 8px;
}
.ad2 {
    background-color: #E8FBFF;
    border-radius: 8px;
    padding: 25px 91.5px;
}
.ad2 span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    padding-top: 8px;
}
.ad3 {
    background-color: #E5FFF1;
    border-radius: 8px;
    padding: 25px 100px;
}
.ad3 p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 8px;
    color: #000000;
    text-align: center;
}
.ad4 {
    background-color: #EFEFFE;
    border-radius: 8px;
    padding: 13px 90px;
}
.ad4 span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    padding-top: 8px;
}
.cart-name {
    text-align: center;
    margin-top: 120px;
}
.cart-name h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    color: #091E42;
}
.cart-name p {
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px;
    color: #172B4D;
    margin-top: 4px;
}
.cart-wrapper {
    margin-top: 80px;
    display: flex;
    position: relative;
    margin-left: 125px;
    gap: 16px;
}
.cart-wrapper .cart1 {
    display: flex;
    position: absolute;
    border: 1px solid #3d9294;
    width: 583px;
    height: 273px;
    background-color: #3d9294;
    border-radius: 15px;
    position: relative;
}
.cart-info {
    padding-left: 19px;
}
.cart-info h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    color: #FFFFFF;
    width: 333px;
    padding-top: 21px;
}
.cart-info p {
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: #FFFFFF;
    width: 311px;
    height: 54px;
}
.cart-info button {
    border: none;
    border: 1px solid #9ACB6B;
    background-color: #9ACB6B;
    border-radius: 8px;
    padding: 10px 43px;
    margin-top: 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    transition: all 0.5s;
}
.cart-info button:hover {
    background-color: #FFFFFF;
    color: #9ACB6B;
    transform: scale(0.9);
}
.cart-img {
    position: absolute;
    left: 310px;
    top: 20px;
}
.products {
    margin-top: 80px;
    margin-left: 148px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.product1 {
    padding: 16px;
    border: 1px solid #DCDFE4;
    width: 278px;
    border-radius: 16px;
}
.product-info p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #121216;
    width: 300px;
}
.product-info .paid {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 16px;
}
.product-info  .paid h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #000000;
}
.product-info .paid p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8590A2;
}
.product-info button {
    border: none;
    background-color: #405741;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 60.88px;
    width: 246px;
    margin-top: 24px;
    transition: all 1s;
    cursor: pointer;
}
.product-info button:hover {
    background-color: #DCDFE4;
    transform: scale(0.9);
}
.product-info button span {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 8px;
    transition: all 0.5s;
}
.product-info button span:hover {
    color: #405741;
    transform: scale(1.1);
}
.cart2 {
    display: flex;
    background-color: rgb(37, 164, 224);
    border-radius: 16px;
    width: 583px;
    height: 273px;
    padding: 21px 18px 6px 18.5px;
    position: relative;
}
.cart2 .cart-about h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    color: #121216;
    width: 400px;
}
.cart2 .cart-about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #121216;
}
.cart2 .cart-about button {
    border: none;
    background-color: #405741;
    border-radius: 8px;
    padding: 10px 43px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 35px;
    transition: all 1s;
    cursor: pointer;
}
.cart2 .cart-image {
    position: absolute;
    right: 35px;
}
.cart2 .cart-about button:hover {
    background-color: #FFFFFF;
    color: #405741;
    transform: scale(1.1);
}
.about-section {
    margin-top: 120px;
    background-color: #E9F8EF;
}
.about__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.about-text h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    margin-left: 600px;
    padding-top: 93.5px;
}
.about-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #172B4D;
    margin-bottom: 80px;
    margin-top: 4px;
    margin-left: 35px;
}
.about-wrapper {
    display: flex;
    gap: 16px;
    margin-left: 127.5px;
}
.about1 {
    background-color: #FFFFFF;
    padding: 24px 22.33px 24px 24px;
    width: 384.44px;
    border-radius: 8px;
}
.about1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #121216;
}
.person {
    display: flex;
    padding-top: 40px;
    align-items: center;
}
.person-img {
    padding-right: 19px;
}
.person-name {
    padding-right: 20px;
}
.person-name h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121216;
    width: 200px;
}
.person-name p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #A8A9B2; 
}
.bottom-img {
    margin-top: 60px;
    text-align: center;
    cursor: pointer;
    padding-bottom: 93.5px;
}
.footer__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 120px;
    padding: 40px 127px 77px 127px;
    background: #F1F2F44D;
    gap: 88px;
}
.eco-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:  #091E42;
    margin-top: 16px;
}
.links {
    display: block;
}
.social-links {
    display: flex;
    align-items: center;
    gap: 15.67px;
    margin-top: 38px;
}
.social-links a {
    transition: all 0.5s;
}
.social-links a:hover {
    transform: scale(1.1);
}
.social-links a:nth-child(1) {
    border-radius: 50%;
    padding: 12px 17.91px;
    background-color: rgba(9, 30, 66,20%);
}
.social-links a:nth-child(2) {
    border-radius: 50%;
    padding: 12px 14.55px;
    background-color: rgba(9, 30, 66,20%);
}
.social-links a:nth-child(3) {
    border-radius: 50%;
    padding: 11px 11.2px;
    background-color: rgba(9, 30, 66,20%);
}
.social-links a:nth-child(4) {
    border-radius: 50%;
    padding: 12px 14px;
    background-color: rgba(9, 30, 66,20%);
}
.social-links a:nth-child(5) {
    border-radius: 50%;
    padding: 9px 10.08px;
    background-color: rgba(9, 30, 66,20%);
}
.links {
    margin-top: 2px;
}
.links h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #091E42;
}
.links-p {
    margin-top: 24px;
    /* width: 490px; */
    height: 96px;
}
.links-p p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #091E42;
    margin-bottom: 23px;
    width: 200px;
}
.login h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color:  #091E42;
    width: 400px;
}
.input-wrapper {
    border: 1px solid  #DCDFE4;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    margin-top: 24px;
    position: relative;
    width: 347px;
}
.input-wrapper img {
    margin-right: 8px;
}
.input-wrapper input {
    border: none;
}
.input-wrapper input:focus {
    outline: none;
}
.input-wrapper button {
    position: absolute;
    border: none;
    background-color: #405741;
    border-radius: 8px;
    left: 245px;
    padding: 16px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    transition: all 1s;
}
.input-wrapper button:hover {
    transform: scaleX(1.1);
    background-color: #EFEFFE;
    color: #405741;
}
.all__container {
    border-top: 1px solid #DCDFE4;
    padding-top: 19px;
    display: flex;
    gap: 500px;
    padding-left: 160px;
    padding-bottom: 24px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.eco-all p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #091E42;
}
.teams {
    display: flex;
    gap: 24px;
}
.teams p {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #091E42;
}